tools/sandbox/Proxies/*
tools/sandbox/Hydrators/*
tools/sandbox/PersistentCollections/*
tests/Proxies/*
tests/Hydrators/*
tests/PersistentCollections/*
phpunit.xml
composer.lock
vendor/
*.pyc
*~
*.py~
build/*
composer.phar
.idea
data/*
!data/README
!data/cache
data/cache/*
!data/cache/README
!data/geometry
/nbproject/
.vagrant
Vagrantfile.yml
Vagrantfile.local
Vagrantfile.yml
/extrashared

# Local OS/Editor settings/stubs
*.DS_Store
.buildpath
cscope.files
.externalToolBuilders
*.out
.project
.pydevproject
.settings
*.swl
*.swn
*.swm
*.swo
*.swp
tags
.zedstate

pycharm-debug.egg

# Code style
.php_cs*
